.question {
  position: relative;
  color: $color-primary-dark;
  background-color: $color-secondary-light;
  width: 80rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
  padding: 0 3rem;

  &__number {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -2rem;
    top: -2rem;
    background-color: $color-secondary-dark;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  &__form {
    width: inherit;
  }

  & .question_title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin-top: 6rem;
  }

  & .answers {
    font-size: 1.6rem;
    width: 100%;
    padding: 6rem 3rem 0;
    margin-bottom: 3rem;

    & .answer {
      border-bottom: 0.1rem solid $color-primary-dark;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      & label {
        display: inline-block;
        display: flex;
        align-items: center;

        margin-left: 1rem;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background-color: rgba($color-primary-light, $alpha: 0.1);
      }

      // & :not(:last-child) {
      //   margin: 2.5rem 0;
      // }
    }
  }

  & button {
    color: inherit;
    background-color: $color-secondary-dark;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 5.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-primary-light;
      color: $color-secondary-dark;
      font-size: 1.9rem;
    }
  }

  &.hidden {
    color: transparent;
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}
